body {
  padding: 0;
  margin: 0;
}
.container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  .header {
    height: 50px;
    padding: 0 20px;
    line-height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000;
    color: #fff;
  }

  .content {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    .left {
      width: 240px;
      background-color: #f8a506;
      margin: 0;
      padding: 0;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      ul {
        padding: 0;
        margin: 0;
      }

      .host-item {
        list-style: none;
        height: 40px;
        line-height: 40px;
        font-size: 16px;
        padding: 0 10px;
        margin: 0;
        border-bottom: 1px solid #EE9A49;
        cursor: pointer;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        .hostLabel {
          flex: 1;
        }

        .deleteBtn {
          display: none;
        }

        &:hover {
          .deleteBtn {
            display: block;
          }
        }
      }

      .host-item-selected {
        background-color: #fff;
      }

      .button {
        display: block;
        text-align: center;
      }

      .wx-info {
        padding-bottom: 10px;
        text-align: center;

        span {
          display: block;
          margin-top: 10px;
        }
      }
    }

    .right {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      max-height: calc(100vh - 51px);

      .iztro {
        width: 100%;
        flex: 1;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        max-height: calc(100vh - 91px);
        
        .izplace {
          flex: 3;
          background-color: #fff;

          .please-select {
            line-height: 50px;
            text-indent: 30px;
            font-size: 18px;
          }
        }

        .izanalyst {
          max-height: calc(100vh - 91px);
          overflow-y: scroll;
          flex: 2;
          background: #fafafa;
          padding: 15px;
          border-left: 1px solid #e5e5e5;
        }
      }

      .copyright {
        width: 100%;
        height: 40px;
        line-height: 40px;
        text-align: center;
        background-color: #000;
        font-size: 13px;
        a {
          text-decoration: none;
          color: #fff;
        }
        
      }
    }
  }
}

.rowEnd {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}