.analyze-warp {
  & > span {
    display: block;
  }
  
  padding: 15px;

  .analyze-item-title {
    height: 50px;
    display: block;
    line-height: 50px;
    font-size: 20px;
  }

  .analyze-item-desc {
    line-height: 28px;
    font-size: 14px;
    display: block;

    span {
      display: block;
    }
  }

  .analyze-tips {
    font-size: 14px;
    text-align: center;
    color: #ccc;
    margin-top: 15px;
  }
}
